p {
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 180% */
}

h1 {
color: #000;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 62.5% */
}

h2 {
color: #000;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 83.333% */
}

h3 {
color: #000;
font-family: Arial, Helvetica, sans-serif;
font-style: bold;
font-weight: 500;
line-height: 20px; /* 100% */
}

.navbar {
    background-color: #FFDD00;
}

.navbar-brand {
    width: 320px;
}

#menu-btn {
    display: flex;
    width: 110px;
    height: 39px;
    padding: 12px 17px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FD0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    font-weight: 700;
    line-height: 36px; /* 225% */
    border-radius: 19px;
    background: #000;
    
}

.btn-primary {
display: flex;
width: 110px;
height: 39px;
padding: 12px 17px;
justify-content: center;
align-items: center;
gap: 10px;
color: #ffffff;
font-family: Arial, Helvetica, sans-serif;
font-style: bold;
font-weight: 700;
line-height: 36px; /* 225% */
border-radius: 19px;
background: #3B82F6;
}

.btn-secondary {
    display: flex;
    width: 110px;
    height: 39px;
    padding: 12px 17px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #3B82F6;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    font-weight: 700;
    line-height: 36px; /* 225% */
    border-radius: 19px;
    border: 2px solid #3B82F6;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.btn-geolocation  {
display: flex;
width: 293px;
height: 39px;
padding: 12px 17px;
justify-content: center;
align-items: center;
gap: 10px;
color: #3B82F6;
font-family: Arial, Helvetica, sans-serif;
font-style: bold;
font-weight: 700;
line-height: 36px; /* 225% */
border-radius: 19px;
border: 2px solid #3B82F6;
background: #FFF;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#my-textarea{
    height: 150px;
    width: 100%;
}

#my-textarea-remaining-chars{
    color: #333333;
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
}

.hero{
    width: 90%;
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#drop-area{
    width: 500px;
    height: 300px;
    padding: 30px;
    background: #ffffff;
    text-align: center;
    border-radius: 20px;
}

#img-view{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px dashed #bbb5ff;
    background: #f7f8ff;
    background-position: center;
    background-size: cover;
}

#img-view img{
    width: 100px;
    margin-top: 25px;
}


/* Media query */

@media screen and (max-width: 768px) {

    /* CSS rules to apply when the media query conditions are met */
    .navbar,
    .section {
        flex-direction: column;
    }
    }

    @media screen and (max-width: 600px) {
        .navbar {
            font-size: 12px;
        }
    }